// Colors
$text-main: #fff;
$text-secondary: #000;
$bg-lightblue: #BDEBFF;
$bg-midblue: #8CDCFF;
$button: #DB61AA;
$btn-bg: rgba(219, 97, 170, 0.1);
$input-bg: rgba(255, 255, 255, 0.25);
$dark--grey: #262626;
$light--white: rgba(255, 255, 255, .25);
$light--orange: rgba(243, 189, 139, .2%);
$light--pink: rgba(219, 97, 170, .2);
$light--violet: rgba(131, 150, 236, .2);
$light--blue: rgba(111, 207, 201, .2);
// Breakpoints
$xs: 320px;
$sm: 768px;
$md: 992px;
$lg: 1180px;
$xl: 1441px;
$colors: ( 'text-main': #fff, 'text-secondary': #000, 'bg-lightblue': #BDEBFF);