// Colors
$text-main: #fff;
$text-secondary: #000;
$bg-lightblue: #BDEBFF;
$bg-midblue: #8CDCFF;
$button: #DB61AA;
// Breakpoints
$xs: 320px;
$sm: 768px;
$md: 992px;
$lg: 1180px;
$xl: 1441px;
$colors: ( 'text-main': #fff, 'text-secondary': #000, 'bg-lightblue': #BDEBFF);