.header {
    display: flex;
    padding-top: 25px;
    align-items: center;
}

.header__nav {
    margin-left: auto;
}

.logo {
    width: 183px;
    height: 33px;
    cursor: pointer;
}

.list-item__link {
    margin-left: 19px;
    font-size: 1.8em;
}