.header {
    display: flex;
    padding-top: 25px;
    align-items: center;
    &__nav {
        margin-left: auto;
    }
}

.logo {
    width: 183px;
    height: 33px;
    cursor: pointer;
}

.list-item__link {
    margin-left: 19px;
    font-size: 18px;
}

// Убираем отображение мобильного меню на десктопе
.hamburger,
.nav-mobile {
    display: none;
}