.hero {
    background: linear-gradient(322.99deg, #8CDCFF 38.62%, #BDEBFF 111.12%);
    width: 100%;
    height: 800px;
}

.hero__text {
    display: flex;
    max-width: 600px;
    justify-content: space-between;
}

.hero__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}