body {
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
}

li a:hover {
  color: #DB61AA;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

ul li {
  list-style: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.clearfix {
  clear: both;
}

.button {
  position: relative;
  width: 230px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  background-color: #DB61AA;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.8em;
  cursor: pointer;
}

.button::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  padding: 10px;
  background-color: rgba(219, 97, 170, 0.1);
  width: 230px;
  height: 50px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

button {
  margin-top: 10px;
}

.input-tel {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 322px;
  height: 51px;
  outline: none;
  border: none;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  box-sizing: border-box;
  padding-left: 24px;
  font-size: 18px;
}

.input-tel::placeholder {
  font-size: 18px;
}

.input-tel-wrapper {
  width: 342px;
  height: 71px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  margin-right: 40px;
}

.input-name {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 322px;
  height: 51px;
  outline: none;
  border: none;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  box-sizing: border-box;
  padding-left: 24px;
  font-size: 18px;
}

.input-name::placeholder {
  font-size: 18px;
}

.input-name-wrapper {
  width: 342px;
  height: 71px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  margin-right: 40px;
}

.hamburger {
  display: block;
  width: 60px;
  height: 60px;
  margin-left: auto;
  cursor: pointer;
  z-index: 0;
}

.hamburger__line span {
  display: block;
  top: 50%;
  margin-top: -2px;
  left: 50%;
  margin-left: -19px;
  width: 38px;
  height: 4px;
  background-color: #fff;
  position: relative;
  z-index: 10;
}

.hamburger__line span:before, .hamburger__line span:after {
  content: '';
  position: absolute;
  width: 54px;
  height: 4px;
}

.hamburger__line span:before {
  background-color: #fff;
  left: 50%;
  margin-left: -27px;
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.hamburger__line span:after {
  background-color: #fff;
  left: 50%;
  margin-left: -27px;
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
}

.adv-item:nth-child(3):before {
  content: '';
  background: url(/img/about/about__confetti.png);
  position: absolute;
  top: -80px;
  left: -50px;
  width: 150px;
  height: 151px;
  z-index: 0;
}

.adv-item:first-child:before {
  content: '';
  background: url(/img/about/about__candy.png);
  position: absolute;
  top: -80px;
  left: -50px;
  width: 150px;
  height: 151px;
  z-index: 0;
}

.adv-item:nth-child(2):before {
  content: '';
  background: url(/img/about/about__balloons.png);
  position: absolute;
  top: -80px;
  left: -50px;
  width: 150px;
  height: 151px;
  z-index: 0;
}

.review {
  margin: 35px;
  box-shadow: 0px 0px 20px rgba(115, 133, 231, 0.15);
  padding: 30px;
  box-sizing: border-box;
  width: 450px;
  border-radius: 12px;
}

.review__header {
  height: 60px;
}

.review__profile-pic {
  float: left;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.review__title {
  font-size: 2.2rem;
  margin-left: 80px;
}

.review__subtitle {
  margin: 0 0 0 80px;
  font-size: 1.8rem;
  color: #D6D6D6;
}

.review__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 25px;
}

.footer {
  background: linear-gradient(309.37deg, #8CDCFF 47.27%, #BDEBFF 124.89%);
}

.footer__inner {
  display: flex;
}

.header {
  display: flex;
  padding-top: 25px;
  align-items: center;
}

.header__nav {
  margin-left: auto;
}

.logo {
  width: 183px;
  height: 33px;
  cursor: pointer;
}

.list-item__link {
  margin-left: 19px;
  font-size: 18px;
}

.hamburger,
.nav-mobile {
  display: none;
}

.about {
  max-width: 1180px;
  margin: 0 auto;
  color: #262626;
  position: relative;
}

.about::before {
  content: '';
  background: url(../../../img/about/about__square.png);
  position: absolute;
  z-index: 0;
  width: 437px;
  height: 437px;
  top: 250px;
  left: -500px;
}

.about:after {
  content: '';
  background: url(../../../img/about/about__zigzag.png);
  position: absolute;
  z-index: 0;
  width: 451px;
  height: 305px;
  top: -100px;
  right: -570px;
}

.about__text {
  width: 60%;
  margin-top: 100px;
}

.about__text-title {
  font-size: 3.6rem;
  font-weight: bold;
  margin-bottom: 44px;
}

.about__text-subtitle {
  font-size: 1.8rem;
}

.about__cards {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  height: 460px;
}

.about__adv {
  margin-top: 150px;
  color: #262626;
  margin-bottom: 200px;
}

.about__adv:before {
  content: '';
  background: url(../../../img/about/about__circle.png);
  position: absolute;
  z-index: 0;
  width: 296px;
  height: 296px;
  bottom: -300px;
  left: -500px;
}

.about__adv-title {
  font-size: 3.6rem;
}

.about__adv-item-wrapper {
  margin-top: 158px;
  display: flex;
  height: 250px;
  justify-content: space-between;
}

.card-item {
  box-shadow: 0px 0px 20px rgba(115, 133, 231, 0.15);
  height: 373px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card-item__img {
  background: center center;
  background-size: cover;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

.card-item__text {
  text-align: center;
  font-size: 2rem;
  width: 100%;
  font-family: 'Rubik', sans-serif;
}

.card-item__text-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 83px;
}

.card-item__text span {
  display: block;
}

.card-item:nth-child(odd) {
  align-self: flex-end;
}

.card-item:nth-child(even) {
  align-self: flex-start;
}

.adv-item {
  flex-basis: 300px;
  position: relative;
  z-index: 10;
}

.adv-item__title {
  font-size: 2.2rem;
  position: relative;
  z-index: 10;
}

.adv-item__subtitle {
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-family: 'Open Sans', sans-serif;
  padding-top: 30px;
}

.adv-item:not(:nth-child(2)) {
  align-self: flex-end;
}

.hero {
  background: linear-gradient(322.99deg, #8CDCFF 38.62%, #BDEBFF 111.12%);
  width: 100%;
  height: 800px;
  position: relative;
  color: #fff;
  overflow: hidden;
}

.hero::before {
  content: '';
  background: url(/img/hero/hero__triangle.png);
  width: 279px;
  height: 261px;
  position: absolute;
  top: 120px;
  left: -90px;
}

.hero::after {
  content: '';
  background: url(/img/hero/hero__semicircle.png);
  width: 158px;
  height: 169px;
  position: absolute;
  top: 112px;
  right: -30px;
}

.hero__content {
  display: flex;
  box-sizing: border-box;
  height: 733px;
}

.hero__inner {
  height: 800px;
  box-sizing: border-box;
  max-width: 1180px;
  margin: 0 auto;
}

.hero__inner::before {
  content: '';
  background: url(/img/hero/hero__circle.png);
  width: 205px;
  height: 205px;
  position: absolute;
  bottom: 0;
  right: 38%;
  z-index: 0;
}

.hero__content-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__content-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__content-form-wrapper {
  display: flex;
}

.hero__content-title {
  font-size: 4rem;
  margin-bottom: 40px;
}

.hero__content-title span {
  display: block;
}

.hero__content-img {
  max-width: 550px;
  max-height: 672px;
  align-self: flex-end;
  margin-left: auto;
  position: relative;
  z-index: 1;
}

.tilted-line {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 150px;
  clip-path: polygon(130% 15%, 130% 100%, 50% 100%, -30% 100%);
  z-index: 10;
}

.tilted-line::before {
  position: absolute;
  bottom: 20px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.25);
  width: 100%;
  height: 150px;
  clip-path: polygon(130% 15%, 130% 100%, 50% 100%, -30% 100%);
  z-index: 10;
}

.contact {
  position: relative;
  background-color: #8CDCFF;
  height: 400px;
  color: #fff;
}

.contact__title {
  font-size: 3.6rem;
}

.contact__form {
  display: flex;
  justify-content: space-between;
  margin-top: 62px;
}

.contact__inner {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.contact__tilted-line {
  width: 100%;
  height: 150px;
  clip-path: polygon(130% 15%, 130% 100%, 50% 100%, -30% 100%);
  position: absolute;
  z-index: 10;
  background-color: #fff;
}

.bottom--side {
  position: absolute;
  bottom: -150px;
  left: 0;
  background-color: #8CDCFF;
  clip-path: polygon(-50% 100%, 150% 0%, 50% 0%, -50% 0%);
}

.top--side {
  position: absolute;
  top: -150px;
  left: 0;
  clip-path: polygon(130% 15%, 130% 100%, 50% 100%, -30% 100%);
  background-color: #8CDCFF;
}

.promo {
  max-width: 1180px;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 50px;
}

.promo__video-item-wrapper {
  display: flex;
  justify-content: space-between;
  height: 400px;
  margin-top: 125px;
}

.promo__title {
  font-size: 3.6rem;
  margin-bottom: 190px;
}

.promo__numbers {
  margin-top: 160px;
}

.promo__reviews {
  margin-top: 170px;
}

.video-item {
  box-shadow: 0px 0px 20px rgba(115, 133, 231, 0.15);
  height: 300px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  flex-basis: 320px;
  position: relative;
  cursor: pointer;
}

.video-item:after {
  content: '';
  background: url("../../../img/promo/promo_play.png");
  position: absolute;
  top: 36%;
  left: 49%;
  transform: translate(-40%, -50%);
  width: 72px;
  height: 72px;
  z-index: 10;
  -webkit-transform: translate(-40%, -50%);
  -moz-transform: translate(-40%, -50%);
  -ms-transform: translate(-40%, -50%);
  -o-transform: translate(-40%, -50%);
}

.video-item__img {
  background: center center;
  background-size: cover;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  width: 320px;
}

.video-item__text {
  text-align: center;
  font-size: 2rem;
  width: 100%;
  font-family: 'Rubik', sans-serif;
}

.video-item__text-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 83px;
}

.video-item__text span {
  display: block;
}

.video-item:nth-child(odd) {
  align-self: flex-end;
}

.video-item:nth-child(even) {
  align-self: flex-start;
}

.numbers-item {
  display: flex;
  justify-content: space-between;
  flex-basis: 320px;
  font-size: 2.2rem;
  height: 300px;
}

.numbers-item__text {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 320px;
  position: relative;
}

.numbers-item__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first--item:before,
.second--item:before,
.third--item:before,
.fourth--item:before,
.fifth--item:before {
  position: absolute;
  top: -80px;
  left: -50px;
  font-size: 12rem;
  font-weight: bold;
}

.first--item:before {
  content: '120';
  color: rgba(243, 189, 139, 0.2);
}

.second--item:before {
  content: '86%';
  color: rgba(219, 97, 170, 0.2);
}

.third--item:before {
  content: '25';
  color: rgba(131, 150, 236, 0.2);
  top: 20px;
}

.fourth--item:before {
  content: '40';
  color: rgba(111, 207, 201, 0.2);
}

.fifth--item:before {
  content: '5';
  color: rgba(111, 207, 201, 0.2);
}
/*# sourceMappingURL=main.css.map */