@import '../helpers/variables';
body {
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
}

li a:hover {
    color: $button;
}

html {
    font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}