@import '../helpers/variables';
body {
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    color: $text-main;
    font-size: 10px;
}

li a:hover {
    color: $button;
}

.center {
    max-width: 1180px;
    margin: 0 auto;
}